<!DOCTYPE HTML>
<html lang="FR"> 												<!-- langue en français -->
	<head>
		<title>charles-andré</title> <!-- titre qui est afficher dans l'onglet du site -->
		<meta charset="utf-8"> 	<!-- permet au site de lire les caractere speciaux -->
		<meta name="viewport" content="width=device-width">
		<script src="#"></script> <!-- line vers fichier javascript -->
		<link rel="stylesheet" href="./css/newcss/main.css"/>	<!-- lien vers les fichiers css -->
		<link rel="stylesheet" media="screen and (max-width:1024px)" href="./css/telephone/style.css" type="text/css">
	</head>


	<!--tete de page -->
	<body>
		<header>
		 <img class="imageprofil" src="./img/monprofil.jpg" alt="imageprofil">
		  <h1 id="titre"> Charles-André <br> Développeur Web   </h1> <!--titre principal de mon site -->
		</header>
		<nav>
		 <div>
		  <ul id="menu".menu > <!-- menu de mon site web -->
				<li><a href="#quisuije">Qui suis-je ?</a></li> <!--lien menu vers le paragraphe qui suis-je-->
				<li><a href="#formation">Formation</a></li> <!--lien menu vers le paragraphe de mes formation-->
				<li><a href="#experiences">Expériences Professionnelle</a></li> <!--lien menu vers le paragraphe de mes experiances professionels-->
				<li><a href="#loisir">Loisir</a></li> <!--lien menu vers le paragraphe de mes loisirs-->
		  </ul>
		 </div>
		</nav>
<section>
<section>

		<!-- corp de page -->

	<header id="quisuisje" class="content" style="text-decoration:underline"><h1>Qui suis-je</h1></header> <!-- titre de mon paragraphe qui suis-je-->
		<article>
			<section>
				<header></header>
				<article>
						<p id= "listequisuisje" class="content">  Pour devenir développeur IOS, une parfaite connaissance de l’univers Apple est indispensable. Il doit connaître le langage de programmation Objective-C ainsi que l’interface de Cocoa. Mais ce n’est pas suffisant. En effet, il doit aussi posséder une connaissance poussée des règles et des contraintes du mobile, ainsi que des langages de programmation classiques comme le XHTML et le PHP. Une compétence qui se développe depuis quelques mois : la maîtrise de Swift ! </p> <!-- paragraphe de la partie qui suis-je -->
				</article>
				<footer></footer>
			</section>
		</article>
	<footer></footer>
</section>
<section>
  <header id="formation" class="content" style="text-decoration:underline"><h1>Formation</h1></header>
		<article>
			<section>
				<header></header>
				<article>
						<p id= "listeformation" class="content">  Pour devenir développeur IOS, une parfaite connaissance de l’univers Apple est indispensable. Il doit connaître le langage de programmation Objective-C ainsi que l’interface de Cocoa. Mais ce n’est pas suffisant. En effet, il doit aussi posséder une connaissance poussée des règles et des contraintes du mobile, ainsi que des langages de programmation classiques comme le XHTML et le PHP. Une compétence qui se développe depuis quelques mois : la maîtrise de Swift ! </p>
				</article>
				<footer></footer>
			</section>
		</article>
	<footer></footer>
</section>
<section>
	<header id="experiencepro" class="content" style="text-decoration:underline"><h1>expérience professionnelle</h1></header>
		<article>
			<section>
				<header></header>
				<article>
						<p id= "listeexperiencepro" class="content">  Pour devenir développeur IOS, une parfaite connaissance de l’univers Apple est indispensable. Il doit connaître le langage de programmation Objective-C ainsi que l’interface de Cocoa. Mais ce n’est pas suffisant. En effet, il doit aussi posséder une connaissance poussée des règles et des contraintes du mobile, ainsi que des langages de programmation classiques comme le XHTML et le PHP. Une compétence qui se développe depuis quelques mois : la maîtrise de Swift ! </p>
				</article>
				<footer></footer>
			</section>
		</article>
	<footer></footer>
</section>
<section>
		<header id="loisir" class="content" style="text-decoration:underline"><h1>Loisir</h1></header>
			<article>
				<section>
					<header></header>
					<article>
						<p id="listeloisir" class="content">  Pour devenir développeur IOS, une parfaite connaissance de l’univers Apple est indispensable. Il doit connaître le langage de programmation Objective-C ainsi que l’interface de Cocoa. Mais ce n’est pas suffisant. En effet, il doit aussi posséder une connaissance poussée des règles et des contraintes du mobile, ainsi que des langages de programmation classiques comme le XHTML et le PHP. Une compétence qui se développe depuis quelques mois : la maîtrise de Swift ! </p>
					</article>
					<footer></footer>
				</section>
			</article>
		<footer></footer>
	</section>
</section>



		<!--pied de page -->
<footer>
	<div class="imagecontact" src="/img/contact.jpg" alt="imagecontact"><h3>CONTACTEZ MOI</h3>
     <p>Email:  lunelfrance@gmail.com<br>OU<br>Au 01 02 03 04 05<br>du lundi au vendredi<br>de 9h30 à 12h00<br>et de<br>13h30 à 18h30<p>
	</div>
	<div id="contactweb">

								          <!--lien ver site-->   	 <!--destination de l'image-->
				<a class="lienfooter" href="http://www.facebook.com"><img src="./img/facebook.jpg">
				<a class="lienfooter" href="http://www.twitter.com"><img src="./img/twitter.jpg">
    		<a class="lienfooter" href="http://www.yahoo.com"><img src="./img/yahoo.jpg">
				<a class="lienfooter" href="http://www.youtube.com"><img src="./img/youtube.jpg">
				<a class="lienfooter" href="http://wwwflux.rss.fr"><img src="./img/flux rss.jpg">
	</div>
</footer>
</body>
</html>
